/* FONT IMPORT */
@font-face {
  font-family: NeonLED;
  src: url('./assets/fonts/NEONLEDLight.otf');
}

@font-face {
  font-family: Bangers;
  src: url('./assets/fonts/Bangers-Regular.ttf');
}

*{
  margin: 0 auto;
  text-align: center;
}

html{
  height: 100vh;
  width: 100vw;
}

#login-title, #signup-title{
  font-family: Bangers;
  font-size: 50px;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0 auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.App{
  display: flex;
  flex-direction: column;
  height:100vh;
  justify-content: space-between;
}

/* --------------------------------------------------------------------------------------- */

/* NAV BAR */
.navbar-container{
  display: inline-flex;
  text-align: center;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 10px;
  left: 90%;
  right: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: absolute;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------------------------------------- */
/* LOGIN / SIGN UP */

#login-form, #signup-form{
  display: flex;
  padding: 25px;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: left;
}

#login-main-div, #signup-main-div{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.381);
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.68);
}

#login-main-div{
  padding: 70px;
}

#signup-main-div{
  padding: 30px;
}

.footer-main-div{
  height: 75px;
}
/* --------------------------------------------- */
/* SEARCH COMPONENTS */

#search-main-div{
  width: 100vw;
  height: 100px;
  background-color: pink;
}

#search-by-select {
  width: 200px;
}

/* --------------------------------------------- */
/* FEED AND FORMS */

#feed-main-div{
  display: flex;
  flex-direction: column;
}

#feed-item-div{
  display: inline-flex;
  margin: 20px;

}

/* form */
.application-form{
  display: flex;
  flex-direction: column;
}


/* MOBILE MEDIA QUERY */
@media screen and (max-width: 480px) {
  #login-main-div, #signup-main-div {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0);
  }
}
